body {
	min-height: 100vh;
	background-image: url("assets/img/BG.png");
	background-attachment: fixed;
	color: #1c9603;
	font-family: "Press Start 2P";
}

header {
	display: flex;
	height: 100px;
	background-color: black;
	text-align: center;
}

.container_main {
	display: flex;
	min-height: calc(100vh - 100px)
}

.sidebar {
	min-width: 300px;
	display: flex;
	background-color: black;
}

.content {
	display: flex;
	flex-grow: 1;
}

article {
	font-family: "Courier New";
}

figcaption {
	font-family: "Courier New";
}

footer {
	display: flex;
	background-color: black;
}

@media only screen and (max-width: 992px) {
	.container_main {
		flex-direction: column;
	}
	.sidebar {
		height: 450px;
	}
}

.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* lightbox */
body.no-scroll {
  overflow:hidden
}
body.no-extras .stickers, body.no-extras .blinkies, body.no-extras a {
  z-index:-1
}
    #lightbox {
			position:fixed; /* keeps the lightbox window in the current viewport */
			top:0;
			left:0;
			width:100vw;
			height:100vh;
			background:rgba(0, 0, 0, .7);
			text-align:center;
		}
		#lightbox p {
			text-align:right;
			color:#fff;
			margin-right:50px;
			font-size:30px;
		}
		#lightbox img {
			/* box-shadow:0 0 25px #111; */
			max-width:80vw;
      max-height:80vh;
      width:100%;
      height:100%;
      object-fit:contain;
		}
/* lightbox end */