* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body {
	background-image: url("../assets/images/portfolio/Bliss.png");
	background-size: 100vw 100vh;
    background-attachment: fixed;
    overflow-y: hidden;
    overflow-x: hidden;
}

main {
    height: 100vw;
}

button {
    background: none;
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
}

article {
    text-align: justify;
}

.desktop-icons {
    display: flex;
    flex-flow: column wrap;
    padding: 20px;
    gap: 20px;
}

.desktop-icons button {
    width: 90px;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

.unclicked:hover {
    border: 1px solid rgb(131, 166, 252);
    background-color: rgba(183, 211, 252, 0.196);
}

.clicked {
    border: 1px solid rgb(131, 166, 252);
    background-color: rgba(183, 211, 252, 0.518);
}

.clicked:hover {
    border: 1px solid rgb(18, 139, 231);
    background-color: rgb(183, 211, 252);
}

.desktop-icons img {
    max-height: 50px;
    max-width: 50px;
}

.desktop-icons p {
    color: black;
    font-family: 'Tahoma';
    font-size: 10pt;
    max-width: 50px;
    max-height: 2rem;
    overflow: hidden;
    align-self: center;
    text-overflow: ellipsis;
}

.open {
    opacity: 1;
    visibility: visible;
    scale: 100%;
    transition-property: opacity, visibility, scale;
    transition-duration: 200ms;
}

.closed {
    opacity: 0;
    visibility: hidden;
    scale: 50%;
    transition-property: opacity, visibility scale;
    transition-duration: 200ms;
}

#window {
    box-sizing: border-box;
    position: absolute;
    left: 10%;
    top: -40vh;
    transform: translate(0px, 0px);
    border: 4px outset var(--window-blue-3);
    width: 1140px;
    height: 800px;
    background-color: white;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    min-width: 500px;
    min-height: 500px;
}

#window-small {
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: -20vh;
    transform: translate(0px, 0px);
    border: 4px outset var(--window-blue-3);
    width: 500px;
    height: 550px;
    background-color: white;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}

#window-fullscreen {
    box-sizing: border-box;
    border: 4px outset var(--window-blue-3);
    width: 100vw;
    height: 100vh;
    background-color: white;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}

.draggable {
    transform: translate(0px, 0px);
}

#window-title-bar {
    cursor: move;
    position: sticky;
    height: 35px;
    top: 0;
    padding: 5px 5px 0 20px;
    background-image: linear-gradient(to bottom, var(--window-blue-1) 0%, var(--window-blue-2) 20%, var(--window-blue-3) 90%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#window-title-bar .title {
    color: white;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    font-size: 10pt;
}

.content {
    position: absolute;
    top: 35px;
    bottom: 0px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    border: 4px inset var(--window-blue-1);
    overflow-x: hidden;
}

.title {
    color: var(--taskbar-blue-3);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 14pt;
}

.content span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    padding: 22px;
    font-weight: bold;
    color: white;
    background-color: var(--taskbar-blue-2);
}

.content .description {
    font-family: 'Tahoma';
    font-size: 11pt;
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    background-color: var(--content-ivory);
    border: 2px outset var(--content-ivory);
    display: flex;
    flex-flow: column wrap;
}

.content-images {
    display: flex;
}

.sidebar {
    background: linear-gradient( rgb(122, 161, 231) 0%, rgb(99, 117, 215) 100%);
    min-width: 200px;
}

.sidebar button {
    background: linear-gradient(90deg, white 75%, var(--box-lightblue) 100%);
    display: block;
    padding: 1em;
    margin: 1em;
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}

.gallery {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding: 1em;
    gap: 1em;
    font-family: 'Tahoma';
    font-size: 10pt;
    text-align: center;
}

.portfolio-image {
    height: 300px;
    width: 300px;
    border: 1px solid var(--lightgrey);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.portfolio-image img {
    width: 100%;
    max-height: 290px;
    object-fit: contain;
}

.noscroll {
    overflow-y: hidden;
}

#start-window {
    position: fixed;
    bottom: 39px;
}

#start-menu {
    background-color: var(--folder-lightblue);
    height: 50vh;
    width: 20vw;
    border: 3px outset var(--window-blue-3);
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: column;
}

.closed-start {
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: 200ms;
}

.start-header {
    height: 75px;
    padding: 8px;
    border-radius: 10px 10px 0 0;
    background-image: linear-gradient(to bottom, var(--window-blue-1) 0%, var(--window-blue-2) 20%, var(--window-blue-3) 90%);
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    font-family: 'Trebuchet MS';
    font-size: 8pt;
}

.user-icon {
    height: 60px;
    border: 2px solid white;
    border-radius: 5px;
}

.start-content {
    font-family: 'Tahoma';
    font-size: 10pt;
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    border-top: 2px solid orange;
}

.link {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--lightgrey);
}

.link-icon {
    height: 40px;
    margin: 10px;
}

.link-text {
    display: flex;
    flex-flow: column wrap;
}

.start-footer {
    color: white;
    background-image: linear-gradient(to bottom, var(--window-blue-1) 0%, var(--window-blue-2) 50%);
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    gap: 5px;
    font-family: 'Verdana';
    font-size: 10pt;
}

.start-footer-icon {
    height: 40px;
}

#about, #cv, #contact {
    display: grid;
    place-items: center;
}

.small-box header {
    background: linear-gradient(90deg, white 75%, var(--box-lightblue) 100%);
    padding: 10px 0 5px 20px;
    color: var(--taskbar-blue-2);
    border-radius: 5px 5px 0 0;
    font-family: 'Verdana';
    font-weight: bold;
}

.small-box article {
    padding: 10px;
    background-color: var(--box-lightblue);
    color: var(--taskbar-blue-1);
    font-family: 'Tahoma';
    font-size: 10pt;
    line-height: 2;
    text-align: justify;
}

.small-box a {
    text-decoration: none;
    color: black;
}

.bio {
    display: flex;
}

#clippy {
    position: fixed;
    bottom: 38px;
    right: 0;
    padding: 10px;
}

#clippy img {
    height: 150px;
}

.speech-bubble {
	position: fixed;
    right: 70px;
    bottom: 220px;
	background: #ffffca;
    border: 2px solid black;
	border-radius: .4em;
    width: 140px;
}

.speech-bubble article {
    font-family: Tahoma;
    font-size: 10pt;
    padding: 5px;
    text-align: left;
}

.speech-bubble ul {
    padding: 0.5em 20px;
}

.indented-checkbox {
    padding: 0.5em 0.5em 0.5em 20px ;
    display: block;
    position: relative;
    margin-top: -1.8em;
}

#fool, #fool-contact {
    padding: 0.5em 0;
    font-style: italic;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #ffffca;
	border-bottom: 0;
	border-right: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

footer {
    background-image: linear-gradient(to bottom, var(--taskbar-blue-1) 0%, var(--taskbar-blue-2) 20%, var(--taskbar-blue-3) 90%);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 38px;
}

.start-button {
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.taskbar {
    display: flex;
    margin-left: 130px;
}

.taskbar-tab {
  background-image: linear-gradient(to bottom, var(--taskbar-blue-1) 0%, var(--taskbar-blue-2) 10%, var(--taskbar-blue-3) 100%);
  border: 2px outset var(--taskbar-blue-3);
  color: white;
  margin: 4px 1px;
  padding: 5px 10px;
  display: none;
  align-items: center;
  gap: 2px;
  font-family: Tahoma;
  font-size: 9pt;
  cursor: pointer;
}

.taskbar-tab img {
    height: 20px;
}

.taskbar-tab:hover {
    background-image: linear-gradient(to bottom, rgb(122, 181, 255) 90%, rgb(70, 150, 255) 100%);
}

.pressed {
    display: flex;
    background-image: linear-gradient(to bottom, rgb(30, 75, 166) 0%, rgb(31, 85, 184) 90%);
    border: 2px inset var(--taskbar-blue-3);
}

.pressed:hover {
    background-image: linear-gradient(to bottom, rgb(51, 111, 235) 0%, rgb(53, 113, 233) 90%);
    border: 2px inset var(--taskbar-blue-3);
}

.shutdown, .loading {
	height: 100vh;
	width: 100vw;
}

:root {
	--lightgrey: rgb(165, 165, 157);
	--darkgrey: rgb(185, 185, 171);
    --content-ivory: rgb(230, 234, 216);
    --taskbar-green-1: rgb(113, 181, 113);
    --taskbar-green-2: rgb(34, 118, 41);
    --taskbar-green-3: rgb(71, 172, 71);
    --taskbar-blue-1: rgb(73, 147, 230);
    --taskbar-blue-2: rgb(35, 89, 214);
    --taskbar-blue-3: rgb(38, 97, 222);
    --window-blue-1: rgb(45, 137, 252);
    --window-blue-2: rgb(0, 84, 226);
    --window-blue-3: rgb(3, 107, 254);
    --icon-red-1: rgb(255, 51, 0);
    --icon-red-2: rgb(152, 0, 0);
    --folder-lightblue: rgb(214, 223, 245);
    --box-lightblue: rgb(210, 236, 255);
    --box-blue: rgb(102, 123, 216);
}