/* all */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-width: 100%;
	scrollbar-color: green black;
}

body {
	background-image: url("../assets/images/BG.png");
	background-attachment: fixed;
	max-width: 100vw;
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: 'Courier New', Courier, monospace;
}

html {
	scroll-behavior: smooth;
}

/* header */

#header {
	width: 100vw;
	height: auto;
}

#header .name {
	position: relative;
	margin-left: 2.5%;
}

a.header {
	font-family: "Press Start 2P"; 
	font-size: 60pt;
	text-align: center;
	color: green;
	text-decoration: none;
}

a.header:hover {
	color: white;
	cursor: crosshair;
}

/* nav */

.top-nav {
	display: flex;
	background-color: black;
	padding: 1em 4.5% 1em 0;
	margin: 0 0 2.5%;
	justify-content: flex-end;
	gap: 50px;
	position: sticky;
	top: 0px;
	overflow: hidden;
}

.top-nav a {
	display: inline-block;
	justify-content: space-evenly;
	align-content: center;
	text-align: center;
	font-family: "Silkscreen", sans-serif;
	font-weight: 700;
	font-size: 20px;
	padding: 10px;
	color: black;
	text-decoration: none;
	background-color: green;
}

.top-nav a:hover {
	cursor: crosshair;
	color: green;
	background-color: white;
}

.top-nav .icon {
	display: none;
}

/* content */

#content {
	margin: 2.5%;
	margin-top: 0;
	background-color: black;
}

#content-flex {
	display: flex;
}

.aside-nav {
	min-width: 400px;
	display: inline-block;
	vertical-align: top;
	font-family: 'Courier New', Courier, monospace;
	color: green;
	background-color: black;
}

.aside-nav .icon {
	display: none;
}

.aside-nav b {
	display: none;
}

.aside-nav a {
	display: block;
	font-size: 20px;
	background-color: green;
	padding: 5%;
	color: black;
	text-decoration: none;
}

.aside-nav a:hover {
	background-color: white;
	color: green;
	cursor: crosshair;
}

.aside-nav p {
	margin: 1em;
}

.main {
	display: flex;
	flex-flow: column wrap;
	padding: 0 2%;
	color: green;
	font-size: 20px;
	text-align: justify;
}

.small {
	max-width: 75%;
	margin: 20px auto;
	min-width: 300px;
	text-align: center;
	border: 1px solid green;
	border-radius: 15px;
	font-size: 16px;
}

.main span {
	font-family: "Press Start 2P"; 
	font-size: 20px;
	text-align: left;
	margin: 2% 0;
}

.main article {
	margin-bottom: 2%;
}

.main article a {
	color: green;
	text-decoration-color: white;
	text-underline-offset: 3px;
}

.main article a:hover {
	background-color: white;
	color: green;
	cursor: crosshair;
}

.main-content {
	box-sizing: border-box;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-content: space-around;
	gap: 2em;
	color: green;
}

.portfolio-image {
	max-height: 400px;
	width: auto;
}

.contact-links {
	text-align: center;
	padding-bottom: 1em;
}

.content-footer {
	font-family: "Silkscreen", sans-serif;
	font-weight: 700;
	color: green;
	font-size: 25px;
	padding: 1%;
	text-align: center;
}

.content-footer a {
	color: green;
	text-decoration: none;
}

.content-footer a:hover {
	background-color: white;
	color: green;
	cursor: crosshair;
}

#footer {
	font-size: ;
	color: green;
	background-color: black;
	padding: 1%;
	text-align: center;
	margin: 2.5%;
}

/* fonts */

.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

h1 {
	margin: 0;
}