body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: pink;
}

#warning-banner {
  background-color: yellow;
  padding: 1em;
}

.warning {
  font-size: 14pt;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

#portfolio {
  background-color: black;
  color: white;
  margin: 16px;
  padding: 16px;
  font-family: Bitcount Prop Double;
  font-weight: 600;
  font-size: 20pt;
  border-radius: 15px;
}

#portfolio button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-family: Bitcount Prop Double;
  font-weight: 600;
  font-size: 20pt;
  cursor: pointer;
  background-color: white;
}

.bubble {
	margin: 16px;
	background: white;
  padding: 16px;
  border-radius: 15px;
  border: 1px solid red;
  position: relative;
}

.bubble .heading {
  font-family: Bitcount Prop Double;
  font-weight: 500;
  font-size: 14pt;
  background-color: red;
  color: white;
  border-radius: 15px;
  padding: 0.5em;
  position: absolute;
  top: -1em;
  left: ;
  }

.bitcount-prop-double-<uniquifier> {
  font-family: "Bitcount Prop Double", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}