body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-image: url("../assets/images/index/bg.gif");
  overflow-x: hidden;
  display: flex;
  flex-flow: column wrap;
  font-family: Nintendo-DS-BIOS;
  cursor:url(https://static.tumblr.com/xjqjg7j/pGsmxu033/86.gif), url(https://static.tumblr.com/xjqjg7j/pGsmxu033/86.gif), auto;
}

ul {
  margin: 0;
  border: 0;
}

#header {
background: #F8F8F8;
background: linear-gradient(180deg, rgba(248, 248, 248, 1) 0%, rgba(251, 139, 251, 1) 21%);
border-bottom: 2px solid black;
display: flex;
justify-content: space-between;
font-size: 14pt;
color: white;
}

.header-left {
  display: flex;
}

.header-title, .header-time, .header-date, .battery {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 5px;
  display: flex;
  align-items: center;
}

.lightmode {
  display: none;
}

#content {
  display: flex;
  flex-flow: column wrap;
  margin: 20px 0;
}

#portfolio {
  background: #F8F8F8;
  background: linear-gradient(180deg, rgba(248, 248, 248, 1) 0%, rgba(196, 196, 196, 1) 54%);
  padding: 3px;
  border: 1px solid black;
  font-size: 14pt;
  display: flex;
}

#portfolio img {
  padding: 5px;
}

#portfolio article {
  background: url("../assets/images/index/bubble_bg.png");
  border: 1px solid black;
  padding: 15px;
}

#portfolio button {
  
}

#content {
  display: flex;
  padding: 0 20%;
  gap: 5px;
}

.main {
  display: flex;
  flex-flow: column wrap;
  gap: 5px;
}

.bubble {
  background: #F8F8F8;
  background: linear-gradient(180deg, rgba(248, 248, 248, 1) 0%, rgba(196, 196, 196, 1) 54%);
  padding: 3px;
  border: 1px solid black;
  position: relative;
  font-size: 14pt;
}

.heading {
  font-size: 17pt;
  color: black;
}

.bubble article {
  background: url("../assets/images/index/bubble_bg.png");
  border: 1px solid black;
  padding: 15px;
}

#footer {
  background: linear-gradient(180deg, rgba(248, 248, 248, 1) 0%, rgba(251, 139, 251, 1) 21%);
  border-top: 2px solid black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: 14pt;
  color: white;
}

#footer button {
  border: 2px outset black;
  border-radius: 3px;
}

#footer a {
  text-decoration: none;
  color: black;
}

/* fonts */

@font-face {
  font-family: Nintendo-DS-BIOS;
  src: url(../assets/fonts/Nintendo-DS-BIOS.ttf);
}