name: Deploy to neocities

on:
  push:
    branches: ["main"]

env:
  FORCE_COLOR: 1
  node_version: lts/*

concurrency:
  group: deploy-to-neocities
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

        run: |
          touch public/.nojekyll

      - name: Deploy to neocities
        uses: bcomnes/deploy-to-neocities
        with:
          api_token: ${{ secrets.NEOCITIES_API_TOKEN }}
          cleanup: true
          dist_dir: "public"
          neocities_supporter: true